@{
    ViewData["Title"] = "How much for my services?";
}
<h1>@ViewData["Title"]</h1>

<h2>Let's find out:'</h2>
<form>
    <label> How many hours? </label>
    <input id="numHours" />
    <br />
    @*This is the non-editable box*@
    <label>Price per hour: $5 </label>
    <br />
    <input type='button' value="Price for My Services" id="btnSubmit" /> <!--If you do a type=submit that makes the page refresh, and you can't see it disapper.'-->
</form>

@* • A box for the user to enter the number of hours they need from you *@
@* • Validation to make sure they actually entered a positive number *@
@* • An non-editable box that shows how much you charge per hour *@
@* • A button that allows the user to calculate the total *@
@* • An output box that shows the total *@
@* • Navigation back to the home page *@