@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Benji's Hobbies. WOW!'</h1>
    <p>It's nice to see you here.</p>
</div>
@* This is all about me! *@
<p>I like music a lot. </p>
<p>Here are a few things I can do:</p>
<ul>
    <li>Play guitar</li>
    <li>Play bass</li>
    <li>Mix music</li>
</ul>
<br />
<p> I have been playing the guitar for most of my life, so I like to think I'm pretty okay at it. For around a year, I've been learning to mix music, and it's been a lot of fun.</p>
<br />
<p>I have my little light show and set up (see photo below), and I have parties in my room from time to time. I am the only one invited. </p>
<p> One time, I had a big party, and I was the DJ, but it makes me hecka nervous because I'm worried what people think about the music I like (refer to the last image on the bottome).<p/>
<p>I mean, it was fun, don't get me wrong, but it was nerve racking for sure. I like flashing lights, loud music, and sweaty dancing. I am kind of an audiophile and I also produce electronic music. </p>
<p>I wish I had more time for these things, but I am responsible and do my homework. Some people ask me, "Benji, why don't you do music for a job?"</p>
<br />
<p>The honest answer: I want to have a family lol</p>

@* A title on the tab of the web page *@
@* • A custom icon next to the title on the web page (#notcoveredinthevideos) *@
@* • A heading that introduces your site !! *@
@* • At least two images *@
@* • A few paragraphs talking about your hobby *@
@* • A footer on the page that has a copyright and info about who built the page *@
@* (#notcoveredinthevideos) !! *@
@* • Navigation to the second page (#notcoveredinthevideos) !! *@
